body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

header {
    background:palevioletred;
    color: black;
    padding: 1rem;
    text-align: center;
}

nav a, nav button {
    font-size: 17px;
    margin: 0px 20px;
    color: white;
    text-decoration: none;
    background-color:black;
    padding: 6px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.product-list, .cart-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.product, .cart-item {
    border: 1px solid #211635;
    padding: 2rem;
    margin: 2rem;
    text-align: center;
}
.product-list .product button{

}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

label{
    background-color: #aeb5fa;
    padding: 5px;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
} 
input{
    background-color: #4e3c6f;
    border: none;
    outline: none;
    color: aliceblue;
    height: 25px;
    width: 20%;
    border-radius: 30px; 
    padding: 5px;
}
input[type="email"]{
    text-align: center;
    font-size: 16px;
}
input[type="password"]{
    text-align: center;
    font-size: 16px;
}
input::placeholder{
    color: #fff;
}
button {
    font-size: 16px;
   margin: 10px;
   background-color:palevioletred;
   padding: 5px;
   border: none;
   outline: none;
   border-radius: 7px;
   color: #fff;
}